*{
  box-sizing: border-box;
}
/* custom style */
  :root{
    --nav-height : 100%;
    --right-sidebar-row-border : 1px solid gray;
  }

  .main-nav{
    height: 94px;
  }

  .inner-nav-container{
    height: var(--nav-height);
  }

  .sidebar-menu-bars{
    width: 30px;
  }

  .left-side-menu{
    background: none;
  }

  .right-menu-button{
    padding: 0rem;
    font-size: 1rem;
    border: none;
  }

  .sm-icon{
     border-left: 2px solid black;
     padding-left: 10px; 
     height:100%;
  }

  .sm-icon ul{
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: var(--nav-height);
  }

  .sm-icon ul li a img{
    width: 35px;
  }

  .sm-icon .nav-link{
    padding-right: 1rem ;
  }

  /* form nav style */
  .form-outer-div{
    margin: 10px 0px;
    width:100%;
  }

  .form-button-div{
    display: flex;
    justify-content: end;
  }

  .form-button-div input{
    height: 40px;
  }
  /* end form nav style */

  /* right sidebar style*/
  .right-sidebar-row{
    border: var(--right-sidebar-row-border);
  }

  .right-sidebar-col{
    padding: 0px;
    border-left: var(--right-sidebar-row-border);
    border-right: var(--right-sidebar-row-border);
  }


  .right-sidebar-row{
    text-align: center;
  }

  .right-sidebar-row p{
    margin: 0px;
  }

  .right-sidebar-row img{
    width: 160px;
    padding: 15px 0;
    margin: auto;
  }

  .upper-table-from{
    background-color: black;
    border-bottom: 2px solid gray;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0px 10px;
  }

  .button-div button{
    padding: 0px;
    width: 50px;
    margin: 0px 5px;
  }

  .button-div button:hover{
    background-color: rgb(216, 216, 216);
  }

  .textbox input{
    width: 340px;
    height: 29px;
    padding: 0px 10px;
    border-radius: 10px;
    float: right;
  }

  /* end right sidebar style */

  .map-div{
    z-index: 0;
  }
  @media only screen and (max-width: 995px) {
      .sm-icon {
        border-left: none;
      }

      .sidebar-menu-bars{
        width: 25px;
      }

      .sm-icon ul{
        height: auto;
      }
      .agromap-logo{
        margin-right: 0px;
      }

      .main-nav{
        height: auto;
      }

      .sm-icon ul li a img{
        width: 30px;
      }

      .upper-table-from{
        padding: 10px 0px;
      }

      .textbox{
        padding-top: 5px;
        display: flex;
        justify-content: center;
      }

      .button-div{
        display: flex;
        justify-content: center;
      }

      .textbox input{
        width: 240px;
      }

      .upper-table-from{
        height: auto;
      }
  }

/* end custom style */

.sidebar {
  height: 100vh;
  width: 0;
  position: fixed;
  z-index: 990;
  top: 0;
  left: 0;
  background-color: #585858;
  overflow-x: hidden;
  transition: 0.5s;
  /* padding-top: 60px; */
  margin-top: 94px;
}

.sidebar a {
  /*padding-top: 40px;*/
  padding: 40px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  /* background-color: white; */
  cursor: pointer;
  /* background-color: #111;
  color: white; */
  /* padding: 10px 15px; */
  border: none;
}

.openbtn:hover {

}

/* #main {
  transition: margin-left .5s;
  padding: 16px;
} */

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}


/* Login Page style*/
.panel-login {
  border-color: #ccc;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}
.panel-login>.panel-heading {
  color: #00415d;
  background-color: #fff;
  border-color: #fff;
  text-align:center;
}
.panel-login>.panel-heading a{
  text-decoration: none;
  color: #666;
  font-weight: bold;
  font-size: 15px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
  color: #029f5b;
  font-size: 18px;
}
.panel-login>.panel-heading hr{
  margin-top: 10px;
  margin-bottom: 0px;
  clear: both;
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
  background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
  background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
  height: 45px;
  border: 1px solid #ddd;
  font-size: 16px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.panel-login input:hover,
.panel-login input:focus {
  outline:none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: #ccc;
}
.btn-login {
  background-color: #59B2E0;
  outline: none;
  color: #fff;
  font-size: 14px;
  height: auto;
  font-weight: normal;
  padding: 14px 0;
  text-transform: uppercase;
  border-color: #59B2E6;
}
.btn-login:hover,
.btn-login:focus {
  color: #fff;
  background-color: #53A3CD;
  border-color: #53A3CD;
}
.forgot-password {
  text-decoration: underline;
  color: #888;
}
.forgot-password:hover,
.forgot-password:focus {
  text-decoration: underline;
  color: #666;
}

.btn-register {
  background-color: #1CB94E;
  outline: none;
  color: #fff;
  font-size: 14px;
  height: auto;
  font-weight: normal;
  padding: 14px 0;
  text-transform: uppercase;
  border-color: #1CB94A;
}
.btn-register:hover,
.btn-register:focus {
  color: #fff;
  background-color: #1CA347;
  border-color: #1CA347;
}